/* -----------------------------------------------------------------------------------

    0. RESET & CLEARFIX
    1. DIVIDERS
    2. BASICS (body, headers, links, etc)
    3. TYPOGRAPHY
    4. GENERAL ELEMENTS

----------------------------------------------------------------------------------- */
/*----------------------------------------------

GOOGLE FONTS DECLARATIONS

------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900';
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700);
/*----------------------------------------------

0. RESET & CLEARFIX DOC

------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
.overlaycaption, figure,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%; }

ol, ul, li {
  padding: inherit; }

:focus {
  outline: 0; }

/* deleting the default appearence for form elements */
input[type=text], input[type=password], input[type=submit], input[type=button], textarea, button {
  -moz-appearance: none;
  -webkit-appearance: none; }

/* HTML5 display definitions */
article, aside, details, .overlaycaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none;
  visibility: hidden; }

img {
  max-width: 100%; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0; }

.clearfix {
  *display: inline-block;
  height: 1%; }

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }

/*----------------------------------------------

1. DIVIDERS DOC

------------------------------------------------*/
.divider-xsmall,
.divider-small,
.divider-medium,
.divider-large {
  clear: both; }

.divider-xsmall {
  height: 25px; }

.divider-small {
  height: 50px; }

.divider-medium {
  height: 100px; }

.divider-large {
  height: 150px; }

/*----------------------------------------------

2. BASICS DOC

------------------------------------------------*/
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Prevent iOS text size adjust on orientation change without disabling user zoom */
  -ms-text-size-adjust: 100%;
  position: relative; }

body {
  font-weight: 300;
  letter-spacing: 0.025em;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  position: relative;
  min-height: 100%;
  word-wrap: break-word;
  height: 100%; }

/*----------------------------------------------

3. TYPOGRAPHY DOC

------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1 {
  font-size: 38px;
  line-height: 57px; }

h2 {
  font-size: 32px;
  line-height: 48px; }

h3 {
  font-size: 28px;
  line-height: 42px; }

h4 {
  font-size: 24px;
  line-height: 36px; }

h5 {
  font-size: 20px;
  line-height: 30px; }

h6 {
  font-size: 16px;
  line-height: 24px; }

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: 700; }

button, select, textarea {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.025em; }

p {
  font-size: 14px;
  line-height: 25px; }

a {
  text-decoration: none; }

a:hover, a:focus {
  outline: none;
  text-decoration: none; }

.typo-top-spacing {
  margin-top: 15px; }

.animated {
  visibility: hidden; }

/*----------------------------------------------

4. GENERAL DOC

------------------------------------------------*/
hr {
  /*border-bottom-color: rgba(144, 144, 144, 0.25);*/ }

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 3em 0; }

article {
  display: inline-block; }

article {
  margin: 0px 0px 50px; }

pre {
  padding: 15px; }
