.wrapper #header {
  background: #EDA10D; }

.wrapper .btn-primary {
  background: #EDA10D; }
  .wrapper .btn-primary.active {
    background: #f3ac21;
    border: solid 1px #f3ac21; }
    .wrapper .btn-primary.active.focus, .wrapper .btn-primary.active:focus, .wrapper .btn-primary.active:hover {
      background: #f3ac21;
      border: solid 1px #f3ac21; }
  .wrapper .btn-primary:active.focus, .wrapper .btn-primary:active:focus {
    background: #f3ac21;
    border: solid 1px #f3ac21; }
  .wrapper .btn-primary:hover, .wrapper .btn-primary:focus, .wrapper .btn-primary:active {
    background: #f3ac21;
    border: solid 1px #f3ac21; }

.wrapper .label.label-primary {
  background: #EDA10D !important; }

.wrapper .label {
  background: #EDA10D; }

.wrapper .messagetoggle .nav-tabs .nav-item a.active {
  color: #EDA10D; }

.wrapper .site-menu li a:hover {
  color: #f7c769;
  background: #464646; }

.wrapper .site-menu li.nav-menu-icon a {
  background: #EDA10D; }

.wrapper .site-menu .sub-item.active > a {
  color: #f7c769; }

.wrapper .content {
  border-top: 3px solid #EDA10D; }

.wrapper .checkbox-squared label {
  background: -webkit-linear-gradient(top, #EDA10D 100%, #f3ac21 100%);
  background: -moz-linear-gradient(top, #EDA10D 100%, #f3ac21 100%);
  background: -o-linear-gradient(top, #EDA10D 100%, #f3ac21 100%);
  background: -ms-linear-gradient(top, #EDA10D 100%, #f3ac21 100%);
  background: linear-gradient(top, #EDA10D 100%, #f3ac21 100%); }

.wrapper .btn.btn-outline-primary {
  color: #EDA10D;
  border-color: #EDA10D; }
  .wrapper .btn.btn-outline-primary:hover, .wrapper .btn.btn-outline-primary.focus, .wrapper .btn.btn-outline-primary:focus, .wrapper .btn.btn-outline-primary.active, .wrapper .btn.btn-outline-primary:active {
    background-color: #EDA10D;
    border-color: #EDA10D; }

.wrapper .btn.btn-primary.disabled:hover, .wrapper .btn.btn-primary:disabled:hover {
  background-color: #EDA10D;
  border-color: #EDA10D; }

.wrapper .btn-border-animation.btn-primary-border:hover {
  border-color: #EDA10D;
  color: #EDA10D; }

.wrapper .btn-fill-horizontal.btn-primary-fill-horizontal:hover {
  border-color: #EDA10D; }

.wrapper .btn-fill-horizontal.btn-primary-fill-horizontal:before, .wrapper .btn-fill-horizontal.btn-primary-fill-horizontal:after {
  background: #EDA10D; }

.wrapper .btn-fill-vertical.btn-primary-fill-vertical:hover {
  border-color: #EDA10D; }

.wrapper .btn-fill-vertical.btn-primary-fill-vertical:before, .wrapper .btn-fill-vertical.btn-primary-fill-vertical:after {
  background: #EDA10D; }

.wrapper .btn-hover-animation {
  background: #EDA10D; }
  .wrapper .btn-hover-animation.hvr-ripple-out:before {
    border: #f3ac21 solid 6px; }
  .wrapper .btn-hover-animation.hvr-ripple-in:before, .wrapper .btn-hover-animation.hvr-outline-out:before, .wrapper .btn-hover-animation.hvr-outline-in:before {
    border: #f3ac21 solid 4px; }

.wrapper .btn-group .btn {
  border-color: #f3ac21; }

.wrapper .search_field button {
  color: #EDA10D; }

.wrapper .search_block {
  border-right: 5px solid #EDA10D; }
  .wrapper .search_block a {
    color: #b37a0a; }

.wrapper .search_title {
  color: #EDA10D; }

.wrapper .search_ad {
  background: #EDA10D; }

.wrapper .profile-contain .content {
  border-top: 3px solid #EDA10D; }

.wrapper .profile-contain .accept-section {
  background: rgba(237, 161, 13, 0.8);
  border: none; }

.wrapper .name-profile {
  color: #EDA10D; }

.wrapper .profile-icon i:hover {
  color: #EDA10D; }

.wrapper .activities-profile .right-activities-profile h5 {
  color: #EDA10D; }
  .wrapper .activities-profile .right-activities-profile h5 a {
    color: #EDA10D; }

.wrapper .activities-count span {
  color: #EDA10D; }

.wrapper .user-name-profile .left-name-profile {
  color: #EDA10D; }

.wrapper .user-name-profile .detail-profile {
  border-bottom: 1px dotted #EDA10D; }

.wrapper .setting-profile li a span {
  color: #EDA10D; }

.wrapper .setting-profile li a:hover {
  background: #EDA10D; }

.wrapper .profile-contain .accept-section .accept-btn {
  color: #EDA10D; }

.wrapper .activity-box .first-activity-box {
  border-bottom: 1px dotted #EDA10D; }
  .wrapper .activity-box .first-activity-box .right-side-activity .top-section-activity h5 {
    color: #EDA10D; }

.wrapper .nav-tab-horizontal-right ul li .nav-link.active, .wrapper .nav-tab-horizontal-right ul li .nav-link.active:hover, .wrapper .nav-tab-horizontal-right ul li .nav-link.active:focus, .wrapper .nav-tab-horizontal-right ul li .nav-link:hover, .wrapper .nav-tab-horizontal-right ul li .nav-link:focus, .wrapper .nav-tab-vertical-left ul li .nav-link.active, .wrapper .nav-tab-vertical-left ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-left ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-left ul li .nav-link:hover, .wrapper .nav-tab-vertical-left ul li .nav-link:focus, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-icon-right ul li .nav-link:hover, .wrapper .nav-tab-vertical-icon-right ul li .nav-link:focus, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-icon-right ul li .nav-link:hover, .wrapper .nav-tab-vertical-icon-right ul li .nav-link:focus, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link.active, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link:hover, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link:focus, .wrapper .nav-tab-bottom-inverse ul li .nav-link.active, .wrapper .nav-tab-bottom-inverse ul li .nav-link.active:hover, .wrapper .nav-tab-bottom-inverse ul li .nav-link.active:focus, .wrapper .nav-tab-bottom-inverse ul li .nav-link:hover, .wrapper .nav-tab-bottom-inverse ul li .nav-link:focus {
  background: #EDA10D;
  border-color: #EDA10D; }

.wrapper .nav-tab-vertical-icon-left ul li .nav-link.active, .wrapper .nav-tab-vertical-icon-left ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-icon-left ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-icon-left ul li .nav-link:hover, .wrapper .nav-tab-vertical-icon-left ul li .nav-link:focus {
  border-color: transparent transparent transparent #EDA10D;
  color: #EDA10D; }

.wrapper .nav-tab-pills-image ul li .nav-link.active, .wrapper .nav-tab-pills-image ul li .nav-link.active:hover, .wrapper .nav-tab-pills-image ul li .nav-link.active:focus, .wrapper .nav-tab-pills-image ul li .nav-link:hover, .wrapper .nav-tab-pills-image ul li .nav-link:focus {
  border-color: transparent transparent #EDA10D transparent;
  color: #EDA10D; }

.wrapper .nav-tab-inverse ul li .nav-link.active, .wrapper .nav-tab-inverse ul li .nav-link.active:hover, .wrapper .nav-tab-inverse ul li .nav-link.active:focus, .wrapper .nav-tab-inverse ul li .nav-link:hover, .wrapper .nav-tab-inverse ul li .nav-link:focus {
  border-color: #EDA10D transparent transparent transparent;
  color: #EDA10D; }

.wrapper .default-accordions .card-header .collapsed {
  color: #EDA10D; }

.wrapper .color-accordions .primary-card .card-header {
  background-color: #EDA10D; }

.wrapper .color-accordions .primary-card .card-block {
  background-color: #EDA10D; }

.wrapper #accordionbg .card-header {
  background-color: #EDA10D; }

.wrapper .page-item.active .page-link {
  background: #EDA10D;
  border-color: #EDA10D; }
  .wrapper .page-item.active .page-link:focus {
    background: #EDA10D;
    border-color: #EDA10D; }
  .wrapper .page-item.active .page-link:hover {
    background: #EDA10D;
    border-color: #EDA10D; }

.wrapper .page-item.disabled .page-link {
  border-color: #f3ac21; }

.wrapper .page-link:focus {
  background: #EDA10D;
  border-color: #EDA10D; }

.wrapper .page-link:hover {
  background: #EDA10D;
  border-color: #EDA10D; }

.wrapper .pagination_link {
  color: #EDA10D;
  border-color: #EDA10D; }

.wrapper .Js_pagination a {
  border-left: 1px solid #EDA10D;
  border-right: 1px solid #EDA10D;
  background: #EDA10D;
  background: linear-gradient(#EDA10D, #f3ac21); }
  .wrapper .Js_pagination a.disabled {
    background: #EDA10D;
    background: linear-gradient(#f3ac21, #EDA10D); }
    .wrapper .Js_pagination a.disabled:hover {
      background: #EDA10D;
      background: linear-gradient(#f3ac21, #EDA10D); }
    .wrapper .Js_pagination a.disabled:focus {
      background: #EDA10D;
      background: linear-gradient(#f3ac21, #EDA10D); }
    .wrapper .Js_pagination a.disabled:active {
      background: #EDA10D;
      background: linear-gradient(#f3ac21, #EDA10D); }
  .wrapper .Js_pagination a:hover {
    background: #EDA10D;
    background: linear-gradient(#f3ac21, #EDA10D); }
  .wrapper .Js_pagination a:focus {
    background: #EDA10D;
    background: linear-gradient(#f3ac21, #EDA10D); }
  .wrapper .Js_pagination a:active {
    background: #EDA10D;
    background: linear-gradient(#f3ac21, #EDA10D); }

.wrapper .userlist-content .userlist-box .border-userlist {
  border-top: 3px solid #EDA10D; }

.wrapper .userlist-content .userlist-box .name-userlist {
  color: #EDA10D; }

.wrapper .overlay-userlistNav .overlay-content-userlistNav .hover-user-box {
  background: rgba(237, 161, 13, 0.5); }

.wrapper .overlay-userlistNav .detail-userlist .userlist-group .edit-input {
  border: 1px solid #EDA10D; }

.wrapper .overlay-map {
  background: #EDA10D; }

.wrapper .overlay_arrow-map.above {
  border-top: 16px solid #EDA10D; }

.wrapper .map-search {
  border: 1px solid #EDA10D; }
  .wrapper .map-search i {
    color: #EDA10D; }

.wrapper .table.table-grid-options th {
  background: #EDA10D; }

.wrapper .grid-column {
  border: 1px dotted #f3ac21; }

.wrapper .vector-map .jvectormap-container path {
  fill: #EDA10D !important; }

.nav-light .wrapper .site-menu .sub-item.active > a {
  color: #000; }

.right-side-bar .icon-right {
  background: #EDA10D none repeat scroll 0 0; }
  .right-side-bar .icon-right i {
    color: #EDA10D; }

.right-side-bar .settings-sidebox ul li span.time {
  color: #EDA10D; }
