#nav li ul li a:hover {
  background-color: #6d5cae; }

#nav li ul li.active > a {
  background-color: #6d5cae; }

.btn-primary {
  background: #6d5cae;
  border: solid 1px #6d5cae; }
  .btn-primary.active {
    background: #7c6db6;
    border: solid 1px #7c6db6; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover {
      background: #7c6db6;
      border: solid 1px #7c6db6; }
  .btn-primary:active.focus, .btn-primary:active:focus {
    background: #7c6db6;
    border: solid 1px #7c6db6; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #6d5cae;
    border: solid 1px #6d5cae; }

.primary-dropdown .dropdown-menu .dropdown-item {
  color: #6d5cae; }
  .primary-dropdown .dropdown-menu .dropdown-item:hover {
    background: #6d5cae; }

.link-btn:hover {
  color: #6d5cae; }

.wrapper #header {
  background: #6d5cae; }

.wrapper .card-primary {
  background: #6d5cae;
  border-color: #6d5cae; }

.wrapper .card-outline-primary {
  border-color: #6d5cae; }

.wrapper .btn-primary {
  background: #6d5cae;
  border: solid 1px #6d5cae; }
  .wrapper .btn-primary.active {
    background: #6d5cae;
    border: solid 1px #6d5cae; }
    .wrapper .btn-primary.active.focus, .wrapper .btn-primary.active:focus, .wrapper .btn-primary.active:hover {
      background: #6d5cae;
      border: solid 1px #6d5cae; }
  .wrapper .btn-primary:active.focus, .wrapper .btn-primary:active:focus {
    background: #6d5cae;
    border: solid 1px #6d5cae; }
  .wrapper .btn-primary:hover, .wrapper .btn-primary:focus, .wrapper .btn-primary:active {
    background: #6d5cae;
    border: solid 1px #6d5cae; }

.wrapper .label.label-primary {
  background: #6d5cae !important; }

.wrapper .label {
  background: #6d5cae; }

.wrapper .tag-primary {
  background: #6d5cae; }
  .wrapper .tag-primary:active.focus, .wrapper .tag-primary:active:focus {
    background: #6d5cae; }

.wrapper .messagetoggle .nav-tabs .nav-item a.active {
  color: #6d5cae; }

.wrapper .site-menu li.nav-menu-icon a {
  background: #6d5cae; }

.wrapper .content {
  border-top: 3px solid #6d5cae; }

.wrapper .checkbox-squared label:after {
  border-color: #6d5cae; }

.wrapper .radio-button input[type=radio]:checked + label:after {
  background: #6d5cae; }

.wrapper .btn.btn-outline-primary {
  color: #6d5cae;
  border-color: #6d5cae; }
  .wrapper .btn.btn-outline-primary:hover, .wrapper .btn.btn-outline-primary.focus, .wrapper .btn.btn-outline-primary:focus, .wrapper .btn.btn-outline-primary.active, .wrapper .btn.btn-outline-primary:active {
    background-color: #6d5cae;
    border-color: #6d5cae; }

.wrapper .btn.btn-primary.disabled:hover, .wrapper .btn.btn-primary:disabled:hover {
  background-color: #6d5cae;
  border-color: #6d5cae; }

.wrapper .btn-border-animation.btn-primary-border:hover {
  border-color: #6d5cae;
  color: #6d5cae; }

.wrapper .btn-fill-horizontal.btn-primary-fill-horizontal:hover {
  border-color: #6d5cae; }

.wrapper .btn-fill-horizontal.btn-primary-fill-horizontal:before, .wrapper .btn-fill-horizontal.btn-primary-fill-horizontal:after {
  background: #6d5cae; }

.wrapper .btn-fill-vertical.btn-primary-fill-vertical:hover {
  border-color: #6d5cae; }

.wrapper .btn-fill-vertical.btn-primary-fill-vertical:before, .wrapper .btn-fill-vertical.btn-primary-fill-vertical:after {
  background: #6d5cae; }

.wrapper .btn-hover-animation {
  background: #6d5cae; }
  .wrapper .btn-hover-animation.hvr-ripple-out:before {
    border: #6d5cae solid 6px; }
  .wrapper .btn-hover-animation.hvr-outline-out:before, .wrapper .btn-hover-animation.hvr-outline-in:before {
    border: #6d5cae solid 2px; }
  .wrapper .btn-hover-animation.hvr-ripple-in:before {
    border: #6d5cae solid 4px; }

.wrapper .btn-group .btn-primary {
  border-color: #6d5cae; }

.wrapper .btn-group-vertical .btn {
  border-color: #6d5cae; }

.wrapper .search_field button {
  color: #6d5cae; }

.wrapper .search_block {
  border-left: 5px solid #6d5cae; }
  .wrapper .search_block a {
    color: #7c6db6; }

.wrapper .search_title {
  color: #6d5cae; }

.wrapper .search_ad {
  background: #6d5cae; }

.wrapper .profile-contain .accept-section {
  background: rgba(109, 92, 174, 0.8);
  border: none; }

.wrapper .name-profile {
  color: #6d5cae; }

.wrapper .profile-icon i:hover {
  color: #6d5cae; }

.wrapper .activities-profile .right-activities-profile h5 {
  color: #6d5cae; }
  .wrapper .activities-profile .right-activities-profile h5 a {
    color: #6d5cae; }

.wrapper .activities-count span {
  color: #6d5cae; }

.wrapper .user-name-profile .left-name-profile {
  color: #6d5cae; }

.wrapper .user-name-profile .detail-profile {
  border-bottom: 1px dotted #6d5cae; }

.wrapper .setting-profile li a span {
  color: #6d5cae; }

.wrapper .setting-profile li a:hover {
  background: #6d5cae; }

.wrapper .profile-contain .accept-section .accept-btn {
  color: #6d5cae; }

.wrapper .activity-box .first-activity-box {
  border-bottom: 1px dotted #6d5cae; }
  .wrapper .activity-box .first-activity-box .right-side-activity .top-section-activity h5 {
    color: #6d5cae; }

.wrapper .message-profile textarea {
  border: 1px solid rgba(109, 92, 174, 0.3); }

.wrapper .nav-tab-horizontal-right ul li .nav-link.active, .wrapper .nav-tab-horizontal-right ul li .nav-link.active:hover, .wrapper .nav-tab-horizontal-right ul li .nav-link.active:focus, .wrapper .nav-tab-horizontal-right ul li .nav-link:hover, .wrapper .nav-tab-horizontal-right ul li .nav-link:focus, .wrapper .nav-tab-vertical-left ul li .nav-link.active, .wrapper .nav-tab-vertical-left ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-left ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-left ul li .nav-link:hover, .wrapper .nav-tab-vertical-left ul li .nav-link:focus, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-icon-right ul li .nav-link:hover, .wrapper .nav-tab-vertical-icon-right ul li .nav-link:focus, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-icon-right ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-icon-right ul li .nav-link:hover, .wrapper .nav-tab-vertical-icon-right ul li .nav-link:focus, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link.active, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link:hover, .wrapper .nav-tab-vertical-icon-combination ul li .nav-link:focus, .wrapper .nav-tab-bottom-inverse ul li .nav-link.active, .wrapper .nav-tab-bottom-inverse ul li .nav-link.active:hover, .wrapper .nav-tab-bottom-inverse ul li .nav-link.active:focus, .wrapper .nav-tab-bottom-inverse ul li .nav-link:hover, .wrapper .nav-tab-bottom-inverse ul li .nav-link:focus {
  background: #6d5cae;
  border-color: #6d5cae; }

.wrapper .nav-tab-vertical-icon-left ul li .nav-link.active, .wrapper .nav-tab-vertical-icon-left ul li .nav-link.active:hover, .wrapper .nav-tab-vertical-icon-left ul li .nav-link.active:focus, .wrapper .nav-tab-vertical-icon-left ul li .nav-link:hover, .wrapper .nav-tab-vertical-icon-left ul li .nav-link:focus {
  border-color: transparent transparent transparent #6d5cae;
  color: #6d5cae; }

.wrapper .nav-tab-pills-image ul li .nav-link.active, .wrapper .nav-tab-pills-image ul li .nav-link.active:hover, .wrapper .nav-tab-pills-image ul li .nav-link.active:focus, .wrapper .nav-tab-pills-image ul li .nav-link:hover, .wrapper .nav-tab-pills-image ul li .nav-link:focus {
  border-color: transparent transparent #6d5cae transparent;
  color: #6d5cae; }

.wrapper .nav-tab-inverse ul li .nav-link.active, .wrapper .nav-tab-inverse ul li .nav-link.active:hover, .wrapper .nav-tab-inverse ul li .nav-link.active:focus, .wrapper .nav-tab-inverse ul li .nav-link:hover, .wrapper .nav-tab-inverse ul li .nav-link:focus {
  border-color: #6d5cae transparent transparent transparent;
  color: #6d5cae; }

.wrapper .default-accordions .card-header .collapsed {
  color: #6d5cae; }

.wrapper .color-accordions .primary-card .card-header {
  background-color: #6d5cae; }

.wrapper .color-accordions .primary-card .card-block {
  background-color: #6d5cae; }

.wrapper #accordionbg .card-header {
  background-color: #6d5cae; }

.wrapper .page-item.active .page-link {
  background: #6d5cae;
  border-color: #6d5cae; }
  .wrapper .page-item.active .page-link:focus {
    background: #6d5cae;
    border-color: #6d5cae; }
  .wrapper .page-item.active .page-link:hover {
    background: #6d5cae;
    border-color: #6d5cae; }

.wrapper .page-item.disabled .page-link {
  border-color: #6d5cae; }

.wrapper .page-link:focus {
  background: #6d5cae;
  border-color: #6d5cae; }

.wrapper .page-link:hover {
  background: #6d5cae;
  border-color: #6d5cae; }

.wrapper .pagination_link {
  color: #6d5cae;
  border-color: #6d5cae; }

.wrapper .Js_pagination a {
  border-left: 1px solid #6d5cae;
  border-right: 1px solid #6d5cae;
  background: #6d5cae;
  background: linear-gradient(#6d5cae, #6d5cae); }
  .wrapper .Js_pagination a.disabled {
    background: #6d5cae;
    background: linear-gradient(#6d5cae, #6d5cae); }
    .wrapper .Js_pagination a.disabled:hover {
      background: #6d5cae;
      background: linear-gradient(#6d5cae, #6d5cae); }
    .wrapper .Js_pagination a.disabled:focus {
      background: #6d5cae;
      background: linear-gradient(#6d5cae, #6d5cae); }
    .wrapper .Js_pagination a.disabled:active {
      background: #6d5cae;
      background: linear-gradient(#6d5cae, #6d5cae); }
  .wrapper .Js_pagination a:hover {
    background: #6d5cae;
    background: linear-gradient(#6d5cae, #6d5cae); }
  .wrapper .Js_pagination a:focus {
    background: #6d5cae;
    background: linear-gradient(#6d5cae, #6d5cae); }
  .wrapper .Js_pagination a:active {
    background: #6d5cae;
    background: linear-gradient(#6d5cae, #6d5cae); }

.wrapper .userlist-content .userlist-box .border-userlist {
  border-top: 3px solid #6d5cae; }

.wrapper .userlist-content .userlist-box .name-userlist {
  color: #6d5cae; }

.wrapper .overlay-userlistNav .overlay-content-userlistNav .hover-user-box {
  background: rgba(109, 92, 174, 0.5); }

.wrapper .overlay-userlistNav .detail-userlist .userlist-group .edit-input {
  border: 1px solid #6d5cae; }

.wrapper .overlay-map {
  background: #6d5cae; }

.wrapper .overlay_arrow-map.above {
  border-top: 16px solid #6d5cae; }

.wrapper .map-search {
  border: 1px solid #6d5cae; }
  .wrapper .map-search i {
    color: #6d5cae; }

.wrapper .table.table-grid-options th {
  background: #6d5cae; }

.wrapper .grid-column {
  border: 1px dotted #6d5cae; }

.wrapper .vector-map .jvectormap-container path {
  fill: #6d5cae !important; }

.wrapper .content-badges .striped-tag-section .primary-color {
  border-color: #6d5cae; }

.wrapper .content-badges .badges-tag {
  background: #6d5cae; }

.wrapper .content-badges .style-badges-section .tag-border-primary {
  border: 1px solid #6d5cae;
  color: #6d5cae; }

.wrapper .mailbox_refresh {
  background: #6d5cae; }
  .wrapper .mailbox_refresh:hover {
    background: #6d5cae; }

.wrapper .mail_search span {
  color: #6d5cae; }

.wrapper .btn-primary.active, .wrapper .btn-primary:active {
  background-color: #6d5cae;
  border-color: #6d5cae; }
  .wrapper .btn-primary.active.focus, .wrapper .btn-primary.active:focus, .wrapper .btn-primary.active:hover, .wrapper .btn-primary:active.focus, .wrapper .btn-primary:active:focus, .wrapper .btn-primary:active:hover {
    background-color: #6d5cae;
    border-color: #6d5cae; }

.wrapper .btn-primary.focus:active {
  background-color: #6d5cae;
  border-color: #6d5cae; }

.wrapper .open > .btn-primary.dropdown-toggle {
  background-color: #6d5cae;
  border-color: #6d5cae; }
  .wrapper .open > .btn-primary.dropdown-toggle.focus, .wrapper .open > .btn-primary.dropdown-toggle:focus, .wrapper .open > .btn-primary.dropdown-toggle:hover {
    background-color: #6d5cae;
    border-color: #6d5cae; }

.wrapper .mailbox_sidebar_contain li:hover {
  border-color: #6d5cae; }

.wrapper .mailbox_sidebar_contain li a {
  color: #6d5cae; }

.wrapper .mailbox_sidebar_contain li.active {
  border-color: #6d5cae; }

.wrapper .mail-toggle {
  border: 1px solid #6d5cae;
  color: #6d5cae; }
  .wrapper .mail-toggle span {
    color: #6d5cae; }

.wrapper .mail_trash {
  background: #6d5cae; }
  .wrapper .mail_trash:hover {
    background: #6d5cae; }

.wrapper .compose_close {
  background: #6d5cae; }
  .wrapper .compose_close:hover {
    background: #6d5cae; }

.wrapper .mailbox_drop_down ul li a:hover {
  color: #6d5cae; }

.wrapper .mailbox_main .sidebar_block .sidebar_contain {
  border-top: 3px solid #6d5cae; }

.wrapper .step_default .nav-item.active {
  border-color: #6d5cae;
  background: #6d5cae; }

.wrapper .step_title {
  color: #6d5cae; }

.wrapper .step_with_count li.active {
  color: #6d5cae; }
  .wrapper .step_with_count li.active:before {
    border-color: #6d5cae;
    background: #6d5cae; }
  .wrapper .step_with_count li.active + li:after {
    background: #6d5cae; }
  .wrapper .step_with_count li.active a {
    color: #6d5cae; }

.wrapper .step_dark_bg {
  background: #6d5cae;
  border-color: 1px solid #6d5cae; }
  .wrapper .step_dark_bg .step_backgrpund_count {
    color: #6150a1; }

.wrapper .step_normal_bg {
  background: #7c6db6;
  border-color: 1px solid #7c6db6; }
  .wrapper .step_normal_bg .step_backgrpund_count {
    color: #6d5cae; }

.wrapper .step_light_bg {
  background: #8c7ebf;
  border-color: 1px solid #8c7ebf; }
  .wrapper .step_light_bg .step_backgrpund_count {
    color: #7c6db6; }

.wrapper .step_with_progressbar .nav-inline .nav-item {
  border: 1px solid #6d5cae; }
  .wrapper .step_with_progressbar .nav-inline .nav-item.active {
    background: #6d5cae; }
  .wrapper .step_with_progressbar .nav-inline .nav-item:hover {
    background: #6d5cae; }

.wrapper .step_progressbar .progress-bar {
  background: #6d5cae; }

.wrapper .progress-primary[value]::-webkit-progress-value {
  background-color: #6d5cae; }

.wrapper .progress-primary[value]::-moz-progress-bar {
  background-color: #6d5cae; }

.wrapper .step_wizard {
  overflow: hidden; }
  .wrapper .step_wizard ul li a {
    color: #6d5cae; }
  .wrapper .step_wizard ul li.active {
    background: #6d5cae; }
    .wrapper .step_wizard ul li.active:not(:last-child):after {
      border-left: 20px solid #6d5cae; }

.wrapper .step_vertical_wizard ul li .vertical_wizard_information.step_first:after {
  color: #6d5cae; }

.wrapper .step_vertical_wizard ul li .vertical_wizard_information.step_second:after {
  color: #6d5cae; }

.wrapper .step_vertical_wizard ul li .vertical_wizard_information.step_third:after {
  color: #6d5cae; }

.wrapper .step_vertical_wizard ul li .vertical_wizard_information.step_forth:after {
  color: #6d5cae; }

.wrapper .step_vertical_wizard ul li.active:after {
  border-top-color: #6d5cae; }

.wrapper .step_vertical_wizard ul li.active .vertical_wizard_information {
  border: 1px solid #6d5cae; }
  .wrapper .step_vertical_wizard ul li.active .vertical_wizard_information .vertical_wizard_title {
    color: #6d5cae; }
  .wrapper .step_vertical_wizard ul li.active .vertical_wizard_information:before {
    background: #6d5cae; }

.wrapper .basic_nav .nav .nav-item .nav-link.active {
  color: #6d5cae; }

.wrapper .basic_nav_pills .nav .nav-item .nav-link {
  color: #6d5cae; }
  .wrapper .basic_nav_pills .nav .nav-item .nav-link.active {
    background: #6d5cae; }
    .wrapper .basic_nav_pills .nav .nav-item .nav-link.active:hover, .wrapper .basic_nav_pills .nav .nav-item .nav-link.active:focus {
      background: #6d5cae; }

.wrapper .basic_nav_pills .nav .nav-item.open .nav-link {
  color: #6d5cae; }
  .wrapper .basic_nav_pills .nav .nav-item.open .nav-link:hover, .wrapper .basic_nav_pills .nav .nav-item.open .nav-link:focus {
    color: #6d5cae; }

.wrapper .basic_nav_pills .nav .nav-item .dropdown-item:hover {
  color: #6d5cae; }

.wrapper .nav_basic_tab ul li {
  padding: 0; }

.wrapper .nav_basic_tab .nav .nav-item .nav-link.active {
  border: 1px solid #6d5cae; }

.wrapper .basic_bootstrap_tbl .form-group span {
  color: #6d5cae; }

.wrapper .basic_bootstrap_tbl .detail-icon i {
  color: #6d5cae; }

.wrapper .basic_bootstrap_tbl .detail-view p b {
  color: #6d5cae; }

.wrapper .basic_bootstrap_tbl .pagination li {
  border: 1px solid #6d5cae; }
  .wrapper .basic_bootstrap_tbl .pagination li a {
    color: #6d5cae; }
  .wrapper .basic_bootstrap_tbl .pagination li.active {
    background: #6d5cae; }

.wrapper .basic_bootstrap_tbl .fixed-table-body .card-view .title {
  color: #6d5cae; }

.wrapper .basic_bootstrap_tbl .text-primary {
  color: #6d5cae !important; }

.wrapper .basic_table .table-inverse {
  background: rgba(109, 92, 174, 0.2);
  color: #6d5cae; }
  .wrapper .basic_table .table-inverse th, .wrapper .basic_table .table-inverse td {
    border-color: rgba(109, 92, 174, 0.2); }
  .wrapper .basic_table .table-inverse thead th {
    border-color: #6d5cae; }

.wrapper .basic_table .table-reflow thead th, .wrapper .basic_table .table-reflow thead td {
  border-color: #6d5cae; }

.wrapper .basic_table table tfoot tr th {
  background: #6d5cae; }

.wrapper .responsive_table_main .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
  background: #6d5cae; }

.wrapper .responsive_table_main .tablesaw-advance-dots li i {
  background: #6d5cae; }

.wrapper .responsive_table_main .tablesaw-swipe tbody tr .tablesaw-cell-persist {
  color: #6d5cae; }

.wrapper .responsive_table_main .tablesaw-cell-label {
  color: #6d5cae; }

.wrapper .tablesaw-enhanced .tablesaw-bar .btn.btn-select {
  background: #6d5cae; }

.wrapper .data_widgets_box.data_primary .data_widgets_info {
  background: #6d5cae; }

.wrapper .ct-series-a .ct-point, .wrapper .ct-series-a .ct-line, .wrapper .ct-series-a .ct-bar, .wrapper .ct-series-a .ct-slice-donut {
  stroke: #6d5cae; }

.wrapper .ct-series-a .ct-slice-pie, .wrapper .ct-series-a .ct-area {
  fill: #6d5cae; }

.wrapper .file_manager_page .fm-container .fm-header .current-path > h1 {
  color: #6d5cae; }

.wrapper .file_manager_page .fm-container .fm-header button.active {
  background: #6d5cae; }

.wrapper .file_manager_page .fm-container .view-items .grid p {
  color: #6d5cae; }

.wrapper .file_manager_page .fm-container .context-menu-item.context-menu-hover {
  color: #6d5cae; }

.wrapper .file_manager_page .fm-container .fm-preview .fm-preview-details .data-preview-title {
  color: #6d5cae; }

.wrapper .file_manager_page .fm-container .fm-preview .fm-preview-viewer .preview_tools {
  background: #6d5cae; }

.wrapper .file_manager_page .fm-container .fm-preview-title #main-title span {
  color: #6d5cae; }

.wrapper .file_manager_page .fm-container .view-items .list th.sorted-asc, .wrapper .file_manager_page .fm-container .view-items .list th.sorted-desc {
  background: #6d5cae; }

.wrapper #toolbarContainer {
  background: #6d5cae; }

.wrapper .icon-dropdown-box .inner-dropdown button:hover {
  background: #6d5cae; }

.wrapper .icon-dropdown-box .inner-dropdown button:focus {
  background: #6d5cae; }

.wrapper .icon-dropdown-box .inner-dropdown .active-dropdown {
  background: #6d5cae; }

.wrapper .content-dropdown .content .pagination-dropdown .dropdown-menu a:hover {
  background: #6d5cae; }

.wrapper .content-dropdown .content .nice-select {
  background: #6d5cae; }

.wrapper .content-dropdown .content .nav-tab-horizontal-right ul .nav-item a:hover, .wrapper .content-dropdown .content .nav-tab-horizontal-right ul .nav-item a:active {
  background: #6d5cae; }

.wrapper .content-dropdown .content .nav-tab-horizontal-right ul .nav-item .active {
  background: #6d5cae; }

.wrapper .content-dropdown .fleft .cd-active.cd-dropdown ul li span {
  color: #6d5cae; }
  .wrapper .content-dropdown .fleft .cd-active.cd-dropdown ul li span:hover {
    background: #6d5cae; }
  .wrapper .content-dropdown .fleft .cd-active.cd-dropdown ul li span:focus {
    background: #6d5cae; }

.wrapper .content-dropdown .fleft .cd-active.cd-dropdown > span {
  color: #6d5cae; }

.wrapper .checkbox-dropdown .btn-group .btn {
  border-color: #6d5cae;
  background: #6d5cae; }

.wrapper .nice-select:active, .wrapper .nice-select.open, .wrapper .nice-select:focus {
  border-color: #6d5cae; }

.wrapper .content-tooltip .basic-popover-section .text-popover {
  color: #6d5cae; }

.wrapper .content-tooltip .mouse-drag {
  color: #6d5cae; }

.wrapper .content-tooltip #api-examples input {
  background: #6d5cae;
  border: #6d5cae; }

.wrapper .multi-list-data .data-name {
  color: #6d5cae; }

.wrapper .content-masonry #masonry-section .masonry-box .content-inner-detail h4 {
  color: #6d5cae; }

.wrapper .content-masonry #masonry-section .masonry-box .icon-box-masonry {
  background: #6d5cae; }

.wrapper .content-masonry #masonry-section .masonry-box .bottom-masonary a:hover {
  color: #6d5cae; }

.wrapper .content-masonry #masonry-section .masonry-profile {
  border: 5px solid rgba(109, 92, 174, 0.8); }

.wrapper #calendar .fc-content {
  background: #6d5cae; }

.wrapper #calendar .fc-center h2 {
  color: #6d5cae; }

.wrapper #calendar .fc-view-container td.fc-today {
  background: #6d5cae;
  border-left: 1px solid #6d5cae; }

.wrapper #calendar .fc-event-container .fc-event, .wrapper #calendar .fc-event-container .fc-event-dot {
  background-color: #6d5cae; }

.wrapper .event-box #external-events .fc-event {
  background: #6d5cae;
  border: 1px solid #6d5cae; }

.wrapper .event-box .carousel-fade .carousel-item:nth-child(1) {
  background: rgba(109, 92, 174, 0.8); }

.wrapper .event-box .carousel-fade .carousel-inner .carousel-item:nth-child(1) {
  border-right: 25px solid #6d5cae; }

.wrapper .owl-carousel.color-primary .owl-stage-outer .owl-stage .owl-item {
  background: #6d5cae; }

.wrapper .jstree-default .jstree-clicked {
  background: #9b8fc7; }

.wrapper .jstree-default .jstree-wholerow-clicked {
  background: linear-gradient(to bottom, #9b8fc7 100%, #9b8fc7 100%); }

.wrapper .hljs-meta {
  color: #6d5cae; }

.wrapper .content-lightbox .lightbox-image .back-lightobx {
  background: #6d5cae; }

.wrapper .ribbon-box .sheer-ribbon {
  background: #6d5cae; }
  .wrapper .ribbon-box .sheer-ribbon::before {
    border-color: transparent #6d5cae; }
  .wrapper .ribbon-box .sheer-ribbon::after {
    border-color: #6d5cae transparent; }

.wrapper .content-pricing .simple-pricing-table h2 {
  color: #6d5cae; }

.wrapper .content-pricing .simple-pricing-table.primary-pricing .border-pricing {
  border-top: 5px solid #6d5cae; }

.wrapper .content-pricing .simple-pricing-table.primary-pricing span {
  color: #6d5cae; }

.wrapper .content-pricing .simple-pricing-table.primary-pricing .pricing-section {
  background: #6d5cae; }
  .wrapper .content-pricing .simple-pricing-table.primary-pricing .pricing-section .cart-pricing {
    background: #6d5cae; }

.wrapper .content-pricing .hover-pricing-table .top-hover-pricing {
  background: #6d5cae; }

.wrapper .content-pricing .hover-pricing-table .value-pricing {
  background: #6d5cae; }

.wrapper .content-pricing .hover-pricing-table .border-hover {
  border-bottom: 3px solid #6d5cae; }

.wrapper .content-pricing .hover-pricing-table:hover .table-hover .value-hover {
  color: #6d5cae; }

.wrapper .content-pricing .round-pricing-table .circle-box .circle-detail .title-text {
  color: #6d5cae; }

.wrapper .content-pricing .round-pricing-table .circle-box .circle-detail .price-table .dollar-round {
  color: #6d5cae; }

.wrapper .content-pricing .round-pricing-table .circle-box .circle-detail .price-table .price-round {
  color: #6d5cae; }

.wrapper .content-pricing .round-pricing-table .circle-box .circle-detail .price-table .right-round {
  color: #6d5cae; }

.wrapper .content-pricing .round-pricing-table .circle-box .hover-circle-detail.color-bg {
  background: #6d5cae; }

.wrapper .content-pricing .vertical-pricing .title-vertical-pricing {
  background: #6d5cae; }
  .wrapper .content-pricing .vertical-pricing .title-vertical-pricing:before {
    background: #6d5cae; }
  .wrapper .content-pricing .vertical-pricing .title-vertical-pricing:after {
    background: #6d5cae; }

.wrapper .content-pricing .vertical-pricing .center-detail-vertical ul li {
  color: #6d5cae; }

.wrapper #timeline .timeline-item .timeline-content .timeline-header {
  background: #6d5cae; }

.wrapper #timeline .timeline-item .timeline-icon img {
  border-image: linear-gradient(to bottom, #6d5cae 0%, #a499cc 100%);
  border-image-slice: 1; }

.wrapper #timeline .timeline-item.timeline-right .timeline-content:before {
  border-color: transparent transparent transparent rgba(109, 92, 174, 0.28); }

.wrapper #timeline .timeline-content:before {
  border-color: rgba(232, 232, 232, 0) rgba(109, 92, 174, 0.28) transparent rgba(134, 134, 134, 0); }

.wrapper #timeline .timeline-content .timeline-footer .more li a:hover {
  color: #6d5cae; }

.wrapper .content-blockquote .simple-blockquote-section blockquote {
  border-left: 5px solid #6d5cae; }

.wrapper .content-blockquote .right-blockquote-section blockquote {
  border-right: 5px solid #6d5cae; }

.wrapper .content-blockquote .single-blockquote-section blockquote p:after, .wrapper .content-blockquote .single-blockquote-section blockquote p:before {
  color: #6d5cae; }

.wrapper .content-blockquote .alert-danger blockquote .blockquote-footer {
  color: #6d5cae; }

.wrapper .content-blockquote .alert-success blockquote .blockquote-footer {
  color: #6d5cae; }

.wrapper .content-blockquote .background-icon-blockquote blockquote:after {
  color: #6d5cae; }

.wrapper .content-blockquote .modern-blockquote blockquote p:after {
  color: #6d5cae; }

.wrapper .content-blockquote .bottom-blockquote .detail-blockquote h5 {
  color: #6d5cae; }

.wrapper .content-blockquote .image-blockquote blockquote h5 {
  color: #6d5cae; }

.wrapper .content-blockquote .image-blockquote blockquote:after, .wrapper .content-blockquote .image-blockquote blockquote:before {
  color: #6d5cae; }

.wrapper .content-blockquote .curly-bracket-blockquote blockquote:after, .wrapper .content-blockquote .curly-bracket-blockquote blockquote:before {
  color: #6d5cae; }

.wrapper .content-blockquote .square-bracket-blockquote blockquote:after, .wrapper .content-blockquote .square-bracket-blockquote blockquote:before {
  color: #6d5cae; }

.wrapper .content-blockquote .modern-blockquote {
  background: rgba(109, 92, 174, 0.2); }
  .wrapper .content-blockquote .modern-blockquote:after {
    border-top-color: rgba(109, 92, 174, 0.2); }

.wrapper .content-blockquote .bottom-blockquote .img-blockkquote img {
  border: 5px solid rgba(109, 92, 174, 0.2); }

.wrapper .content-blockquote .image-blockquote img {
  border: 7px solid rgba(109, 92, 174, 0.2); }

.wrapper .table-editing + input, .wrapper .table-editing + textarea {
  border: 1px solid #6d5cae !important;
  color: #6d5cae; }
  .wrapper .table-editing + input:focus, .wrapper .table-editing + textarea:focus {
    border: 1px solid #6d5cae !important;
    color: #6d5cae; }

.wrapper table thead tr th {
  background: #6d5cae; }

.wrapper .content-navbar .simple-navbar ul li a {
  color: #6d5cae; }

.wrapper .content-navbar .simple-navbar ul .active {
  color: #6d5cae; }

.wrapper .content-navbar .simple-navbar ul .dropdown-menu a:hover {
  background: #6d5cae; }

.wrapper .content-navbar .style-navbar {
  background: #6d5cae; }

.wrapper .content-navbar .second-style-navbar .dropdown-section .dropdown-menu a {
  color: #6d5cae; }
  .wrapper .content-navbar .second-style-navbar .dropdown-section .dropdown-menu a:hover, .wrapper .content-navbar .second-style-navbar .dropdown-section .dropdown-menu a:active, .wrapper .content-navbar .second-style-navbar .dropdown-section .dropdown-menu a:focus {
    background: #6d5cae; }

.wrapper .content-navbar .primary-navbar {
  background: #6d5cae; }

.wrapper .content-navbar .sucess-navbar .search_field .primary-navbar {
  background: #6d5cae; }

.wrapper .shorting-form .custom-select:focus {
  border-color: #6d5cae; }

.wrapper .jsgrid .jsgrid-pager-nav-button a:hover, .wrapper .jsgrid .jsgrid-pager-page a:hover {
  color: #6d5cae; }

.wrapper .external-pager .jsgrid-pager-current-page {
  background: #6d5cae; }

.wrapper .dataTables_paginate .pagination li .page-link {
  color: #6d5cae;
  border-color: #6d5cae; }

.wrapper .content-form-layout .register-icon i:hover {
  color: #6d5cae; }

.wrapper .content-form-layout .model-form-layout .site-btn {
  color: #6d5cae !important; }
  .wrapper .content-form-layout .model-form-layout .site-btn:hover, .wrapper .content-form-layout .model-form-layout .site-btn:focus {
    color: #6d5cae !important; }

.wrapper .content-wizard .basic-wizard .swMain ul.anchor li a.selected {
  background: #6d5cae; }

.wrapper .content-wizard .basic-wizard .swMain ul.anchor li a.done:hover, .wrapper .content-wizard .basic-wizard .swMain ul.anchor li a.done small:hover {
  color: #6d5cae; }

.wrapper .content-wizard .basic-wizard .swMain .buttonNext, .wrapper .content-wizard .basic-wizard .swMain .buttonPrevious, .wrapper .content-wizard .basic-wizard .swMain .buttonFinish {
  background: #6d5cae; }

.wrapper .content-wizard .basic-wizard .swMain .StepTitle {
  color: #6d5cae; }

.wrapper .content-wizard .basic-wizard .anchor li:hover a {
  color: #6d5cae; }
  .wrapper .content-wizard .basic-wizard .anchor li:hover a small {
    color: #6d5cae !important; }

.wrapper .editor-toolbar a.active, .wrapper .editor-toolbar a:hover {
  background: #6d5cae;
  border-color: #6d5cae; }

.wrapper .jsgrid .jsgrid-header-row th {
  background: #6d5cae; }

.wrapper .jsgrid-pager .jsgrid-pager-current-page {
  background: #6d5cae; }

.wrapper .dashboard-v3 .accept-section {
  background: rgba(109, 92, 174, 0.8);
  border: none; }

.wrapper .search-overlay .search_bg {
  background: rgba(109, 92, 174, 0.9); }

.testimonial-box .testimonial-center-image {
  border: 3px solid #6d5cae; }

.testimonial-name h6 {
  color: #6d5cae; }

.testimonial-simple-carousel .left-testimonial-image, .testimonial-simple-carousel .right-testimonial-image {
  border: 3px solid #6d5cae; }

.center-mode .slick-track .slick-current h3 {
  background: #6d5cae; }

.testimonial-carousel .carousel-indicators li {
  border: 3px solid #6d5cae; }

.message-page .message-rightbar .chat-receiver .chat-detail {
  background: #6d5cae; }

.message-page .message-rightbar .chat-receiver .chat-arrow::before {
  border-color: #6d5cae transparent transparent transparent; }

.message-page .message-rightbar .chat-input {
  border-bottom: 1px solid #6d5cae; }

.message-page .message-rightbar .chat-type a i {
  color: #6d5cae; }

.message-page .message-sidebar .message-list .message-data.active {
  background-color: #6d5cae !important; }

.message-page .message-toggle {
  border: 1px solid #6d5cae;
  color: #6d5cae; }

.contact-box .contact-name {
  color: #6d5cae; }

.view-contact-detail .contact-name .name span {
  color: #6d5cae; }

.view-contact-detail .contact-detail-icon {
  color: #6d5cae; }

.contact-info .contact-box {
  border-right: 3px solid #6d5cae; }

.content-list .message-list-group .list-group-item .list-message h6 {
  color: #6d5cae; }

.content-list .user-list .user-list-detail h6 {
  color: #6d5cae; }

.content-list .comment-list .comment-detail h6 {
  color: #6d5cae; }

.right-side-bar .icon-right {
  background: #6d5cae none repeat scroll 0 0; }
  .right-side-bar .icon-right i {
    color: #6d5cae; }

.right-side-bar .settings-sidebox ul li span.time {
  color: #6d5cae; }

.content-cards .content .footer-cards {
  color: #6d5cae; }

.image-hover-color {
  background: #6d5cae; }

.primary-modal .modal-header {
  background: #6d5cae; }

.color-modal .modal-footer {
  background: #6d5cae; }

.primary-background-modal .modal-body {
  background: #6d5cae; }

.primary-background-modal .modal-footer {
  background: #6d5cae; }

.content-bootbox button:hover {
  background: #6d5cae; }

.content-bootbox button {
  background: #6d5cae; }

.content-bootbox .md-content {
  background: #6d5cae; }
  .content-bootbox .md-content .btn-hover-primary {
    background: #6d5cae; }
  .content-bootbox .md-content .btn-hover-primary:hover {
    background: #524489; }

body .tool-container.tool-top {
  border-bottom: 1px solid #6d5cae; }

body .tool-top .tool-item {
  border-right: 1px solid #6d5cae;
  border-left: 1px solid #6d5cae; }

body .tool-left .tool-item {
  border-bottom: 1px solid #6d5cae;
  border-top: 1px solid #6d5cae; }

body .tool-container {
  background: #6d5cae;
  border: 1px solid #6d5cae; }

body .tool-item.selected, body .tool-item:hover {
  background: #6d5cae; }

body .tool-container.tool-top .arrow {
  border-color: #6d5cae transparent transparent; }

body .tool-container.tool-left .arrow {
  border-color: transparent #6d5cae transparent transparent; }

.alert-primary {
  background: rgba(109, 92, 174, 0.4);
  color: #6d5cae;
  border-color: rgba(109, 92, 174, 0.4); }

.alert-dark-background .alert-primary {
  background: #6d5cae; }

.alert-icon-left.alert-primary i {
  background: #6d5cae; }
  .alert-icon-left.alert-primary i:after {
    border-right-color: #6d5cae; }

.toast-primary {
  background: #6d5cae; }

body .amaran.default {
  background: #6d5cae;
  border-bottom: 1px solid #6d5cae; }

body .amaran.awesome.ok {
  border: 1px solid #6d5cae; }
  body .amaran.awesome.ok .icon {
    background-color: #6d5cae; }
  body .amaran.awesome.ok p.bold {
    color: #6d5cae; }

body .amaran.user.blue {
  background-color: #6d5cae; }

.primary-hover-color:hover .text-overlay-zoom {
  background: #6d5cae; }

.icon-overlay .icon-overlay-text, .icon-plus-overlay .icon-overlay-text {
  background: rgba(109, 92, 174, 0.5); }

.icon-bottom-overlay .icon-bottom-overlay-text {
  background: rgba(109, 92, 174, 0.5); }

.site-content-title.primary-breadcrumbs {
  background: #6d5cae; }

.checkbox .icr-label.checked .type_checkbox:before {
  background: #6d5cae; }

.checkbox .icr-label.checked .type_checkbox:after {
  background: #6d5cae; }

.checkbox .icr-label.checked .type_radio:after {
  background: #6d5cae; }

.checkbox .icr-label.disabled.checked:hover .icr-item:before, .checkbox .icr-label.disabled.checked:hover .icr-item:after, .checkbox .icr-label.disabled.checked:hover .icr-item:before, .checkbox .icr-label.disabled.checked:hover .icr-item:after, .checkbox .icr-label.checked:hover .icr-item:before, .checkbox .icr-label.checked:hover .icr-item:after, .checkbox .icr-label.checked:hover .icr-item:before, .checkbox .icr-label.checked:hover .icr-item:after {
  background: #6d5cae; }

.parallax-header-bg .site-content-title {
  background: rgba(109, 92, 174, 0.5); }

.header-discription-spacing .header-inner-right .right-icon i {
  color: #6d5cae; }

.header-icon .right-icon i {
  color: #6d5cae; }

.footable-toggle.fooicon-minus, .footable-toggle.fooicon-plus {
  color: #6d5cae; }

.collapse-footable.card-accordions .card-header .card-title::after, .collapse-footable.card-accordions .card-header .card-title::before {
  color: #6d5cae; }

.footable-page-link {
  color: #6d5cae;
  border: 1px solid #6d5cae; }

.footable-page.active .footable-page-link {
  background: #6d5cae; }

.footable-paging li a:hover {
  color: #6d5cae; }

.context-menu-list .context-menu-item.context-menu-hover, .context-menu-list .context-menu-submenu.context-menu-hover {
  background: #6d5cae; }

.widget-icon a:hover, .widget-icon a:focus {
  color: #6d5cae; }
  .widget-icon a:hover i, .widget-icon a:focus i {
    color: #6d5cae; }

.follow-widget-box .inner-follow-widget .follow-profile {
  border: 5px solid rgba(109, 92, 174, 0.8); }

.cover-widget .cover-widget-detail .profile-image {
  border: 5px solid rgba(109, 92, 174, 0.8); }

.bg-primary {
  background: #6d5cae !important; }

.text-primary {
  color: #6d5cae !important; }

.form-bootstrap-select .dropdown-menu .active a {
  background-color: #6d5cae; }
  .form-bootstrap-select .dropdown-menu .active a:focus, .form-bootstrap-select .dropdown-menu .active a:hover {
    background-color: #6d5cae; }

.form-bootstrap-datetime .bootstrap-datetimepicker-widget table td.active {
  background-color: #6d5cae; }
  .form-bootstrap-datetime .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #6d5cae; }

.form-bootstrap-datetime .bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #6d5cae; }

.form-bootstrap-datetime .bootstrap-datetimepicker-widget table td span.active {
  background-color: #6d5cae; }

.form-bootstrap-datetime .bootstrap-datetimepicker-widget thead tr:first-child th:hover {
  background: #6d5cae; }

.flatpickr-rContainer .flatpickr-day.today {
  border-color: #6d5cae; }
  .flatpickr-rContainer .flatpickr-day.today:hover, .flatpickr-rContainer .flatpickr-day.today:focus {
    border-color: #6d5cae;
    background: #6d5cae; }

.clock-section {
  background: #6d5cae; }

.contain-inner.dashboard-v2 .calender-icon {
  background: #6d5cae; }

.cookie-message {
  background: rgba(109, 92, 174, 0.85) !important; }

.swal2-container .btn-primary:focus {
  background: #6d5cae;
  border: solid 1px #6d5cae; }

.gantt-chart-content .form-group label {
  color: #6d5cae; }

.gantt-chart-content .dropdown-menu.datepicker table thead .btn.btn-default {
  background-color: #6d5cae; }

.gantt-chart-content .dropdown-menu.datepicker table th {
  background-color: #6d5cae; }

.gantt-chart-content .gantt-row-milestone {
  background: #6d5cae; }

.gantt-chart-content .col-md-date-range .btn-primary {
  background-color: #6d5cae; }

.fm-popup.alertify .dialog > * {
  border-top: 3px solid #6d5cae; }

.fm-popup.alertify .fm-fileupload-container #total-progress {
  background: #6d5cae !important; }

.fm-popup.alertify .dialog [data-alertify-btn-holder] [data-alertify-btn]:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) {
  background: #6d5cae;
  border-color: #6d5cae; }
  .fm-popup.alertify .dialog [data-alertify-btn-holder] [data-alertify-btn]:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover {
    background: #6d5cae; }

.fm-popup.alertify #summary-popup .title {
  color: #6d5cae; }

.wrapper .pagination li .pagination_link.flat-buttons:hover {
  border: 1px solid #6d5cae; }

.content-mask .bt-mask-it.flat-buttons {
  background: #6d5cae !important; }
  .content-mask .bt-mask-it.flat-buttons:hover {
    background: #6d5cae !important; }

.form-control:focus ~ label, .material-label-fixed {
  color: #6d5cae; }

.material-line:before, .material-line:after {
  background: #6d5cae; }

.loader-overlay {
  background-color: #6d5cae; }

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #6d5cae !important;
  border-color: #6d5cae !important; }

body .pace .pace-progress {
  background-color: #6d5cae; }

body .pace .pace-activity {
  background-color: #6d5cae; }

body.treed-bar-progress .pace .pace-progress {
  -webkit-box-shadow: inset 1px 0 #6d5cae, inset 0 -1px #6d5cae, inset 0 2px rgba(255, 255, 255, 0.5), inset 0 6px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 1px 0 #6d5cae, inset 0 -1px #6d5cae, inset 0 2px rgba(255, 255, 255, 0.5), inset 0 6px rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 1px 0 #6d5cae, inset 0 -1px #6d5cae, inset 0 2px rgba(255, 255, 255, 0.5), inset 0 6px rgba(255, 255, 255, 0.3);
  box-shadow: inset 1px 0 #6d5cae, inset 0 -1px #6d5cae, inset 0 2px rgba(255, 255, 255, 0.5), inset 0 6px rgba(255, 255, 255, 0.3); }

body.flate-top-progress .pace .pace-progress {
  background-color: #6150a1; }

body.big-counter .pace .pace-progress {
  background-color: transparent; }

body.loading-bar .pace .pace-progress {
  color: #6d5cae; }

body.loading-bar .pace .pace-activity {
  background-color: initial;
  box-shadow: inset 0 0 0 2px #6d5cae, inset 0 0 0 7px #FFF; }

body.center-simple-progress .pace {
  border-color: #6d5cae; }

.doctor-background .doctor-section {
  background: rgba(109, 92, 174, 0.5); }
