.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_field_datetime input.oe_simple_date{
    width:40% ! important;
}

.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_field_datetime input.oe_hijri{
    width:40% ! important;
}
.openerp .oe_list_content th.oe_list_header_date {
    min-width: 250px ! important;
}

.openerp th.oe_list_header_datetime{
    min-width: 128px ! important;
}

.openerp .oe_simple_date{
    min-height: 0px ! important;
}
.calendars-month {
	width: 20em !important;
}
.calendars-month-header select, .calendars-month-header input {
    height: 1.4em;
    border: none;
    width: 50%;
    float: left;
}
.calendars-month-header, .calendars-month-header select, .calendars-month-header input {
    height: 1.5em;
    background-color: #444;
    color: #fff;
    font-weight: bold;
    text-align-last: center;
}
