/*====================================================================================================
  ====================================================================================================
								
								CSS :  SP 2013
								
  ====================================================================================================
  ====================================================================================================*/
  /* #suiteBar{display:none !important;}
  #s4-ribbonrow{display:none !important;}
  

    .ms-webpart-zone, .ms-webpart-chrome-vertical, .ms-webpart-cell-vertical {display:block;width: auto;}
	
	#DeltaPageStatusBar {position:relative;z-index:600;}
	
	#s4-bodyContainer{padding-bottom:0;}
	
	input[type="button"], input[type="reset"], input[type="submit"], button {
		min-width: auto;
	}
	
	#s4-workspace , .ms-core-overlay{background:none;} */