
 content th.oe_list_header_date

.openerp th.oe_list_header_datetime{
    min-width: 128px ! important;
}

.openerp .oe_simple_date{
    min-height: 0px ! important;
}

.calandar_hijri {
    margin-bottom: 5px ! important;
}
.oe_datepicker_islamic {
    margin: 0 0 2px ! important;
}

select.calendars-month-year {
    width: 100px;
    display: inline-block;
    padding: inherit;
}

.calandar_picker{
min-width : 235px;
}

.sl_timepicker{
    width : 60% ;
}