<?xml version="1.0" encoding="UTF-8"?>
<openerp>
	<data>
		
		<menuitem id="hr_root_organisation" name="الهيكل الإداري" sequence="10" parent="hr_root" />					
		
		<menuitem id="menu_department_report" name="التقارير"  sequence="50" parent="hr_root_organisation" /> 		
			
		<menuitem  id="menu_department_configuration"  name="الإعدادات"  sequence="100"  parent="hr_root_organisation" />
		
		
			
	</data>
</openerp>
