.o_notification_manager .o_notification .o_close {
	display:none;
}

.o_notification_manager .o_notification .o_notification_title .o_icon {
    display: inline-block;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 20px;
}

