/*.navbar-inverse*/
.navbar-inverse {
    background-color: #6983a8;
    border-color: #6983a8;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #304056;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #304056;
}

/* o_menu_toggle */

.o_web_client .navbar .o_menu_toggle:hover {
    background-color: #304056;
}

/*btn-primary*/
.btn-primary {
    color: white;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-primary:hover {
    color: white;
    background-color: #46b8da !important;
    }
 
 /*o_list_view tfoot*/
 
 .o_list_view tfoot {
    background-color: #6983a8;
    }
    
 /*Style input */

input[type="text"], input[type="password"], input[type="number"], textarea, select
 {
	width: 100%;
	height: 30px;
	padding: 5px;
	color: #000;
	font-size:14px;
	border: 1px solid #CCC;
	border-radius: 2px;
}

 /* required field*/ 
 
.o_form_view .o_form_required.o_form_input, .o_form_view .o_form_required .o_form_input, .o_form_view .o_form_required.o_form_textarea, .o_form_view .o_form_required .o_form_textarea {
     border: 1px solid rgba(179, 31, 31, 0.8);
}

/* color #000 for readonly field*/
.o_form_view .o_group.o_inner_group > tbody > tr > td span.o_form_field, .o_form_view .o_group.o_inner_group > tbody > tr > td .o_form_field_boolean.o_form_field, .o_form_view .o_group.o_inner_group > tbody > tr > td .oe_avatar.o_form_field, .o_form_view .o_group.o_inner_group > tbody > tr > td .o_form_uri.o_form_field
{
color :#000 !important;
}

/* title */
.o_form_view .o_horizontal_separator {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
    color: #337ab7;
    padding: 10px;
}

/*Style for search  box */

.o_control_panel{
	padding-bottom: 20px;
}
.o_searchview .o_searchview_facet .o_facet_remove{
	position: relative !important;
}

/* position des fleches */

.btn-group>.btn, .btn-group-vertical>.btn {
    float: left !important;
}

.o_control_panel .o_cp_right .o_cp_pager {
   margin-left: 25px  !important;
    margin-right: auto  !important;
}

/* input search */
.o_searchview .o_searchview_input{
	
    box-shadow: none !important;
}

/* width sheet */
.o_form_view .o_form_sheet_bg .o_form_sheet{
	    width: 95%;
}   
    