/*-- Userlist --*/
/*-- Map --*/
/*-- Icons --*/
/*-- Buttons --*/
/*-- Images --*/
/*-- Tabs --*/
/*-- Calendar --*/
/*-- Cards --*/
/*-- Dropdown --*/
/*-- Badges --*/
/*-- Carousel --*/
/*-- Tooltip & Popover --*/
/*-- Mansonry --*/
/*-- Rating --*/
/*-- Lightbox --*/
/*-- Pricing Table --*/
/*-- Bottom Spacing None --*/
/*-- Timeline --*/
/*-- Blockquote --*/
/*-- Navbar --*/
/*-- Form layout --*/
/*-- Form Wizard --*/
/*-- eCommerce Dashboard --*/
/*-- Morris chart --*/
/*-- Border Radius --*/
/*-- border-radius --*/
/*-- Box Shadow --*/
/*-- Animation --*/
/*-- Transform Rotate --*/
/*-- Filter --*/
/*-- All Keyframes --*/
/*-- Transform --*/
/*-- Transition --*/
/*-- Background-RGB --*/
/*-- Color-RGB --*/
/*-- Border Radius --*/
/*-- badges-tags --*/
/* START REGISTER V2 ROUND CSS */
.rounded-admin .register_v2_text_field {
  border-radius: 25px; }
  .rounded-admin .register_v2_text_field input {
    background: none; }

/* END REGISTER V2 ROUND CSS */
.register_v2 {
  background: rgba(0, 0, 1, 0) url("../image/img_1570x1046.png") no-repeat fixed 0 0/cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto; }
  .register_v2:before {
    content: '';
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    z-index: 0; }

.register_v2_profile_icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-size: 40px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  padding: 25px;
  color: #FFFFFF;
  background: linear-gradient(#0b9aab, #088079); }

.register_v2_main {
  display: table;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  width: 480px;
  padding: 30px 0; }

.register_v2_contain {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }

.register_v2_form {
  padding: 30px;
  padding-top: 50px;
  background: #FFFFFF;
  border-left: 5px solid;
  border-color: #088079; }
  .register_v2_form h5 {
    margin-bottom: 25px;
    margin-top: 35px; }

.register_v2_check {
  margin-bottom: 10px; }

.register_v2_reserved_text {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 15px; }
  .register_v2_reserved_text p {
    padding-bottom: 0; }

.register_v2_text_field {
  margin-bottom: 25px;
  border: 1px solid #088079;
  display: table; }
  .register_v2_text_field i {
    color: #088079;
    display: table-cell;
    padding: 0 12px;
    font-size: 15px;
    font-weight: 500;
    width: 1%;
    vertical-align: middle; }
  .register_v2_text_field input {
    display: table-cell;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    color: #55595c;
    text-align: right; }
  .register_v2_text_field label {
    position: absolute;
    font-size: 14px;
    display: block;
    margin-top: 3px;
    color: #f84343;
    font-weight: 700; }

.register_v2_sign_link {
  margin-top: 10px; }

/*---- START RESPONSIVE ----*/
@media (max-width: 767px) {
  .register_v2_main {
    min-width: 90%;
    width: calc(100% - 30px); } }

@media (max-width: 479px) {
  .register_v2_form {
    padding: 20px;
    padding-top: 40px; }
  .register_v2_profile_icon {
    font-size: 35px;
    padding: 20px; }
  .register_v2_form h5 {
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 18px; }
  .register_v2_sign_link {
    font-size: 12px; } }

/*---- END RESPONSIVE ----*/
